<!--
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{% extends "base.html" %}

{% block title %}anti-features - F-Droid Monitor{% end %}

{% block content %}

<h2>Anti-Features</h2>

<p>
  There are currently {{ total_app_count }} apps with Anti-Features in F-Droid.
  Learn more about <a href="https://f-droid.org/docs/Anti-Features/">
  Anti-Features</a> in F-Droid.
</p>

<ul>
{% for afid, afvalue in data["antiFeatures"].items() %}
<li><a href="/anti-feature/{{ afid }}">{{ af_names.get(afid, afid) }}</a> ({{ len(afvalue["apps"]) }} apps)</li>
{% end %}
</ul>
{% end %}
